body {
  overflow: hidden;
  width: 100%;
  margin: 0px;
}

.navbanner {
  height: 100px;
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px #ccc;
  margin-bottom: 20px;
}

.toprightcontent {
  height: 300px;
  width: 75%;
  float: right;
}

.topleftcontent {
  height: 300px;
  width: 25%;
  float: left;
}

.chart {
  height:500px;
  width:95%;
  margin-top:20px;
  position: relative;
  margin: auto;
  background: #ccc;
}
