<!doctype html>
<html lang="en">
<head>
	<title>Socialytics</title>
  <meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='vegas.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='some.js') }}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vegas.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='some.css') }}"/>
</head>
<body style="overflow: hidden;">
	<div class="landingnavbar">
		<div class="landingheaderleft">
	 		Socialytics
		</div>
	</div>
	<div class="buttoncontainer">
		<div class="landingbutton" style="float: left;">
			<div class="buttontext">Learn More</div>
		</div>
		<div class="landingbutton" style="float: right;">
			<div class="buttontext">Sign Up</div>
		</div>
	</div>
</body>
</html>
