{% extends 'basetwo.html' %}

{% block navbar %}
<div class="navbartext">
  Socialytics API
</div>
{% endblock %}

{% block content %}
<div class="infocontainer">
  <div class="infocontainerAPIimage">

  </div>
  <div class="infocontainertext">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend tortor pulvinar tortor fermentum, a faucibus tellus lacinia. Aliquam id libero eget ipsum semper tempor eu ut nulla. Nunc tristique eget lacus et faucibus. Aliquam dictum tempor finibus. Quisque non ipsum at purus tempor volutpat id sit amet felis. Vivamus at mi in sem faucibus ullamcorper. Maecenas consectetur, libero sed ullamcorper tempus, diam lectus luctus nunc, vitae luctus massa justo a tellus. Ut sit amet sapien hendrerit, ornare odio quis, venenatis metus. Morbi ex tortor, eleifend id ipsum et, pretium ultrices arcu. Integer consectetur vulputate ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed faucibus ipsum ac orci porta facilisis. Suspendisse a augue sit amet nisi rutrum vehicula. Nulla ac eleifend tortor.
  </div>
</div>
<div class="imageone">

</div>
<div class="circlecontainer">
  <div class="circlestats"></div>
  <div class="circlestats"></div>
  <div class="circlestats"></div>
  <div class="circlestats"></div>
</div>
<div class="imagetwo">

</div>
{% endblock %}
