!doctype html>
<html lang="en">
<head>
  <title>Socialytics</title>
  <meta charset="utf-8">
  <script src="/static/some.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='some.css') }}"/>
</head>
<body>
  <div class="navbar">

  </div>
  <div class="imageone">

  </div>
  <div class="circlestats"></div>
  <div class="circlestats"></div>
  <div class="circlestats"></div>
  <div class="circlestats"></div>
  <div class="imagetwo">

  </div>
  <div class="darkfooter">

  </div>
</body>
</html>
