<!doctype html>
<html lang="en">
<head>
	<title>Socialytics</title>
  <meta charset="utf-8">
  <script src="/static/some.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='some.css') }}"/>
</head>
<body>
  <div class="left">
    <div class="profilepicturecontainer">
      <div class="profilepicturecircle">
        <!-- Profile Picture goes here -->
      </div>
    </div>
    <div class="lefttext" style="text-align: center;">
      <!-- Profile Name goes here -->
      Alex Dewhirst
    </div>
    <div class="leftdivider">
    </div>
    <div class="lefttext" style="color: #333b49!important; margin-top:15px; margin-left: 15px;">
      Menu
    </div>
    <div class="lefttext" style="margin-top:15px; margin-left: 15px;">
      Home
    </div>
    <div class="lefttext" style="margin-top:15px; margin-left: 15px;">
      Profile
    </div>
    <div class="lefttext" style="margin-top:15px; margin-left: 15px;">
      Stats
    </div>
    <div class="leftdivider">
    </div>
    <div class="lefttext" style="color: #333b49!important; margin-top:15px; margin-left: 15px;">
      Categories
    </div>
    <div class="lefttext" style="margin-top:15px; margin-left: 15px;">
      Reports
    </div>
    <div class="lefttext" style="margin-top:15px; margin-left: 15px;">
      Posts
    </div>
    <div class="lefttext" style="margin-top:15px; margin-left: 15px;">
      Visits
    </div>
    <div class="leftdivider">
    </div>
    <div class="lefttext" style="text-align:center; color: #333b49!important; margin-top:15px; margin-left: 15px;">
      Add Categories
    </div>
  </div>
  <div class="right">
    <div class="rightbanner">

    {% block banner %}
    {% endblock %}

      <div class="alert"></div>
      <div class="settings"></div>
      <div class="menu"></div>
    </div>
    <div class="rightinsidecontent">

    {% block content %}
    {% endblock %}

    </div>
    <div class="rightfooter">
      <div class="rightfootertext" style="float:left; margin-left:260px; ">
        Privacy / Terms
      </div>
      <div class="rightfootertext" style="float:right; margin-right: 60px;">
        <a href="{{ url_for('templates', filename='basetwo.html') }}">API</a> - Contact
      </div>
    </div>
  </div>
</body>
</html>
