{% extends 'base.html' %}


{% block banner %}
    <div class="rightbannertext">
      Dashboard
    </div>
{% endblock %}


{% block content %}
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <!-- for loop goes here -->
{% endblock %}
