{% extends 'base.html' %}


{% block profileinfo %}
    <div class="profilepicturecontainer">
      <div class="profilepicturecircle">
        <!-- Profile Picture goes here -->
      </div>
    </div>
    <div class="lefttext" style="text-align: center;">
      <!-- Profile Name goes here -->
      Alex Dewhirst
    </div>
{% endblock %}

{% block banner %}
    <div class="rightbannertext">
      Dashboard
    </div>
{% endblock %}


{% block content %}
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <div class="maincontent">
      <!-- graph content goes here -->
    </div>
    <!-- for loop goes here -->
{% endblock %}
