{% extends 'basetwo.html' %}

{% block navbar %}
<div class="navbartext">
  Privacy Policy
</div>
{% endblock %}

{% block content %}
<div class="privacyandtermstext" style="text-align: justify;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare eros vel mollis condimentum. Donec placerat erat tortor, et volutpat arcu mollis sit amet. Ut gravida ligula felis, sit amet consectetur justo hendrerit at. Curabitur feugiat ipsum at pretium suscipit. Donec nec eros nunc. Nunc aliquet dictum vulputate. Ut at feugiat turpis. Duis lacinia magna felis, in mollis dolor feugiat ac. Aenean vehicula placerat lorem, vel bibendum sem viverra et. Integer vel ultrices risus, ac consequat leo. Cras dictum est non massa viverra, non vehicula erat pretium. Suspendisse in velit vitae tellus aliquam iaculis. Aliquam eget ultricies erat. Nulla ac pharetra nulla. Suspendisse at ex nec lacus accumsan molestie maximus a arcu.
<p>
Nulla fringilla porta dui, in imperdiet neque sollicitudin in. Aenean luctus tortor sed nibh lacinia, vitae dignissim libero aliquam. Nullam tortor ipsum, ultrices et commodo a, rutrum sed nulla. Sed auctor nisi sed venenatis bibendum. Integer lobortis ante justo, id tincidunt erat ornare sed. Aenean egestas est augue, ac sagittis nunc iaculis a. Pellentesque urna nunc, scelerisque eget lacus ac, pharetra vehicula ipsum. Praesent sed ante eu libero ornare pellentesque. Vivamus consequat at tellus ac ullamcorper. Aenean cursus rutrum felis non placerat.
Maecenas ornare consequat nisl ac bibendum. Sed feugiat felis eget fringilla placerat. Cras ut arcu fringilla, consectetur tortor ac, mollis ligula. Integer finibus pellentesque accumsan. Duis ullamcorper mi sed magna ullamcorper convallis. Nullam commodo molestie mauris, eu varius leo consectetur nec. Etiam metus erat, finibus et viverra non, placerat non enim. Morbi a urna nec arcu lobortis scelerisque. Donec faucibus justo vitae nunc dictum, non posuere justo condimentum. Donec at justo sit amet arcu fermentum ultrices vel sit amet neque. Curabitur vel velit in libero consequat cursus at lacinia orci. Ut justo arcu, commodo sed nisi eu, aliquam lobortis sem. Sed porttitor laoreet suscipit. Suspendisse ultricies nisi at felis rutrum dapibus.
Maecenas mollis vel sapien at semper. Ut fringilla aliquet luctus. Morbi non scelerisque magna, ut dapibus nulla. Curabitur tempor semper diam vitae venenatis. Proin pharetra sapien enim, sed laoreet ipsum faucibus non. Proin a nisi nulla. Suspendisse pretium rhoncus diam, a egestas risus posuere quis. Maecenas blandit neque massa, molestie tristique ante suscipit et. Nam accumsan, erat id varius gravida, orci orci euismod justo, eu efficitur urna ipsum quis dolor. Vestibulum varius congue neque et imperdiet. Aliquam venenatis augue rutrum ipsum molestie, vitae molestie sapien ullamcorper. Sed id eleifend ex, nec euismod ex. Proin vitae bibendum ex, sed aliquam neque. Nullam blandit eget sapien nec eleifend. Donec nec erat blandit, scelerisque augue at, dictum odio. Cras feugiat tincidunt posuere.
</p>
<p>
Aenean ultrices sem ac luctus bibendum. Sed nec mauris orci. In ornare felis ut ipsum tempor dignissim. Vestibulum sed vulputate lectus. Praesent consequat interdum ante, sit amet pulvinar ante tristique quis. Phasellus vel velit ut massa tincidunt pharetra. Suspendisse potenti. Quisque nec consectetur nunc. Duis varius ut dui a mollis.
</p>
</div>


{% endblock %}
