{% extends 'raw.html' %}

{% block nav %}
    <div class="navtxt" style="font-weight: bold;"><a href="http://127.0.0.1:5000/index.html">Dashboard</a></div>
    <div class="navtxt"><a href="http://127.0.0.1:5000/reports.html">Reports</a></div>
    <div class="navtxt"><a href="http://127.0.0.1:5000/profile.html">Profile</a></div>
    <div class="divider"></div>
    <div class="navcattxt">Categories</div>
    <div class="navtxt">Posts</div>
    <div class="navtxt">Visits</div>
    <div class="navtxt">Analytics</div>
    <div class="navcattxt" style="text-align:center;">Add Category</div>
{% endblock %}
{% block banner %}
    <div class="bannertxt">Dashboard</div>
{% endblock %}
{% block body %}
    <div id="mainbox"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
{% endblock %}
