body {
  background: #fff;
}

.titletxt {
  color: #ccc;
  font-size: 24;
  font-weight: bold;
  font: 'Roboto';
  padding: 50px;
}

.contenttxt{
  color: #919191;
  font-size: 18;
  font: 'Roboto';
  padding: 25px;
}

#container {
  background: #f4f4f4;
  width: 800px;
  height: 100%;
  border: 1px solid #e5e5e5;
  margin: 0;
  margin:auto;
}
