<html>
<head>
  <title>Socialytics</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="navbg">
    <div id="imgcontainer">
  </div>
    <div class="nametxt">Alex Dewhirst</div>
    <div class="biotxt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus vitae eros vel mattis. Nam ipsum ex, dignissim sed sagittis
      eget, viverra in urna. Curabitur eget augue felis. Aenean ac tincidunt lacus, ut auctor sem. Proin porttitor nibh augue, efficitur blandit erat cursus sed.
      Aliquam id pharetra nulla. Nullam finibus finibus ex, lobortis scelerisque dui pellentesque et.
    </div>
    <div class="divider"></div>
    <div class="navcattxt">Main</div>
    <div class="navtxt">Home</div>
    <div class="navtxt">Reports</div>
    <div class="navtxt">Profile</div>
    <div class="divider"></div>
    <div class="navcattxt">Categories</div>
    <div class="navtxt">Posts</div>
    <div class="navtxt">Vists</div>
    <div class="navtxt">Analytics</div>
    <div class="navcattxt" style="text-align:center;">Add Category</div>
    </div>
  </div>
  <div id="content">
    <div id="banner">
      <div class="bannertxt">Dashboard</div>
    </div>
    <div id="mainbox"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div id="footer">
      <div class="footertxt"><a href="/api.html">API</a></div>
      <div class="footertxt">Contact</div>
    </div>
  </div>
</body>
</html>
